.search-bar-icon {
  position: relative;
  right: 3%;
  margin-top: 0.1rem;
}
.user-card-icon{
  height: 1.5rem;
}
.org-name{

  font-size: 0.7rem;
}

.img-div

  {
    margin-right: 0.5rem;
}

.freelancer-card{
  background: #E3EDF4;
  margin-right: 0.4rem;
  /* width: 31%; */
  padding: 1% 1.5%;
  border-radius: 5px;
  font-family: 'Poppins';
  margin: 0.5rem;
}

.freelancer-role {
  color: #1C3892;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.freelancer-card-button{
  background: #E3EDF4;
  border-radius: 5px;
  color: var(--button-color);
  font-size: var(--font-size11);
  border: 1px solid var(--button-color);
  margin-right: 0.5rem;
  width: 5rem;
}

.section2-btn{

  width: 10rem !important;
}
.header-1{

  color: #1C3892;
}

.header-2{

  color: #D2D7E9;
}
.days{

color:  #7B7B7B;
font-size: 0.7rem;

}

.rate{

  color: #333333;
  font-size: 0.8rem;
}

.location{

  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.title-div{


}

.header-div{
  margin-bottom: 0.5rem;
}

.location-text{
  margin-top: 0.1rem;
  font-size: 0.9rem;
}
.location-icon {
  font-size: 1.5rem;
  position: relative;
  right: 0.2rem;
}
.rate-div{
  margin-top: 1rem;
}

.sub-header{

  font-size: small;
}

.card-row-1{

}

.header-div{

  margin-bottom: 1rem;
}