:root {
  --button-color: #1c3892;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: red;
  --button-background: #ffff;
  --font-size11: 11px;
  --button-background-linear-gradient: linear-gradient(
    90deg,
    var(--button-color) 0%,
    #0885b3 100%
  );
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: inherit;
  text-decoration: underline;
}
.cursor-pointer {
  cursor: pointer;
}
.form-control {
  display: block;
  font-size: 10px !important;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141619;
  background-color: #f5f5f5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button {
  border: 1px solid var(--button-color) !important;
}
.nav-height {
  min-height: 10vh;
}

.main-content-height {
  min-height: 90vh;
}
.separator-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e3edf4;
  line-height: 0.1em;
  margin: 5px 0 10px;
}

.separator-line span {
  background: #fff;
  padding: 0 10px;
}
.signin-button-linkedin {
  background: var(--color-white);
  border-radius: 5px;
  color: #0e76a8;
  font-size: var(--font-size11);
  border: 1px solid #0e76a8;
  width: 45%;
}

.signin-button-linkedin:hover {
  background: #0e76a8 !important;
  color: #fff !important;
  border: 1px solid #0e76a8 !important;
}

.signin-button-google {
  background: var(--color-white);
  border-radius: 5px;
  color: #db4437;
  font-size: var(--font-size11);
  border: 1px solid #db4437;
  width: 45%;
}

.signin-button-google:hover {
  background: #db4437 !important;
  border-radius: 5px;
  color: white !important;
  font-size: var(--font-size11);
  border: 1px solid #db4437 !important;
}

.closeButton {
  float: right;
  cursor: pointer;
}

.button-basic {
  background: var(--color-white);
  border-radius: 5px;
  color: var(--button-color);
  font-size: var(--font-size11);
  border: 1px solid var(--button-color);
}

.linkedIn-icon {
  border: 1px solid #0e76a8;
  color: #0e76a8;
  padding: 2px 6px;
}
.button-basic.signin {
  background: var(--button-background-linear-gradient);
  border-radius: 5px;
  color: var(--color-white);
  text-shadow: var(--text-shadow);
}
.show-active-gigs,
.show-active-talent {
  background: var(--button-background-linear-gradient);
}

.signinImage-div {
  width: min-content;
}
.signinBannerImage {
  height: 20rem;
}

.signIn-font {
  color: var(--button-color);
  font-size: 11px;
  font-weight: 700;
}

.signin-heading {
  color: var(--button-color);
}

.width-inherit {
  width: inherit;
}

#find-gigs-tile-unclicked {
  width: 40%;
  background: #e3edf4;
  cursor: pointer;
  color: #6b6b6b;
}

#find-gigs-tile-clicked {
  width: 40%;
  background: linear-gradient(90deg, var(--button-color) 0%, #0885b3 100%);
  cursor: pointer;
  color: white;
}

#hire-talent-tile-unclicked {
  width: 40%;
  background: #e3edf4;
  float: inline-end;
  cursor: pointer;
  border-radius: 1px solid;
  color: #6b6b6b;
}
#hire-talent-tile-clicked {
  width: 40%;
  background: linear-gradient(90deg, var(--button-color) 0%, #0885b3 100%);
  float: inline-end;
  color: white;
  cursor: pointer;
}
.freelancerLogo {
  height: 75%;
}

.signup-visible {
  visibility: visible;
}

.signup-hidden {
  visibility: hidden;
}

.carousal-background {
  height: 100vh;
  background: var(--button-color);
}

.carousel-indicators [data-bs-target] {
  background-color: var(--button-color);
}
