* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Helvetica, Arial, sans-serif !important;
}

ul {
  list-style: none;
  padding-left: 0px !important;
}
p {
  margin-bottom: 0 !important;
}
